@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
	border: none;
	font-family: 微软雅黑;
}
a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
body{
	background: #fff;
}
.gerber-m{
	width: 80%;
	margin: 0 auto;
}
.gerber-box{
	padding: 40px 30px 0;
}
.gerber-ul1{
	float: left;
	width: 100%;
}
.gerber-ul1 li{
	font-size: 20px;
	width: 25%;
	text-align: center;
	float: left;
	color: #9fa0a0;
	padding-bottom: 6px;
	border-bottom: 1px solid #bfbfbf;
	position: relative;
}
.gerber-ul1 li .nav-a,.content-ul1 li .nav-a{
	color: #9fa0a0;
}
.nav-li{
	cursor: pointer;
}
.gerber-ul2{
	display: none;
	clear: both;
	float: none;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	top: 35px;
	z-index: 1;
}
.gerber-ul2 li{
	height: 46px;
	line-height: 46px;
	float: none;
  	width: 123px;
	background: #f6f6f6;
	margin: 0 auto;
	border: 1px solid #cccccc;
	border-top: none;
}
.nav-a1{
	color: #9fa0a0;
}
.nav-a1 span{
	background: url(../images/pagedown.e6451ca4.png) scroll 0 0 no-repeat;
	display: inline-block;
	height: 16px;
	width: 16px;
	position: relative;
	top: 2px;
	left: 9px;
}
.nav-a1:hover{
	color: #9fa0a0;
}
.gerber-ul2 li a{
	color: #787d83;
}
.gerber-ul2 li:hover{
	background: #787d83;
}
.gerber-ul2 li:hover a{
	color: #fff;
}
.gerber-ul1 li.nav-now{
	color: #0099ff;
	border-bottom: 1px solid #0099ff;
}
.gerber-ul1 li.nav-now a.nav-a{
	color: #0099ff;
}
.nav-li:hover .gerber-ul2{
	display: block;
}
.file-title{
	font-size: 20px;
	color: #000;
	margin: 30px 0 25px 220px;
}
.content-ul1{
	float: left;
	width:18%;
}
.content-ul1 li{
	font-size: 16px;
	height: 44px;
	line-height: 44px;
	border-right: 2px solid #b6b6b6;
	text-align: right;
	padding-right: 25px;
}
.content-ul1 li.nav-now2{
	color: #0099ff;
	border-right: 2px solid #0099ff;
}
.content-ul1 li.nav-now2 a.nav-a{
	color: #0099ff;
}
.gerber-file{
	float: left;
	margin-left: 28px;
	width: 78%;
	height: 500px;
	overflow: auto;
	text-align: center;
}
.gerber-img{
	width: 100%;
}
/*文件分析*/
.gerber-analy{
	margin-top: 40px;
}
.analy-left{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;;
	box-sizing: border-box;
	float: left;
	width: 50%;
	padding-left: 40px;
}
.analy-right{
	float: right;
	width: 50%;
}
.analy-left li{
	font-size: 16px;
	color: #545454;
	height: 40px;
	line-height: 40px;
}
.analy-left .analy-li{
	font-size: 22px;
	color: #414141;
	margin-bottom: 15px;
}
.analy-right li{
	font-size: 13px;
	color: #545454;
	line-height: 26px;
	margin: 15px 0;
}
.analy-right li .analy-span1{
	display: inline-block;
	width: 18px;
	height: 18px;
	position: relative;
	top: 3px;
	padding-left: 5px;
}
.analy-s1{
	background: url(../images/explan.25ceff79.png) 0 1px scroll no-repeat;
}
.analy-s2{
	background: url(../images/explan.25ceff79.png) 0 -47px scroll no-repeat;
}
.analy-s3{
	background: url(../images/explan.25ceff79.png) 0 -93px scroll no-repeat;
}
.analy-s4{
	background: url(../images/explan.25ceff79.png) 0 -141px scroll no-repeat;
}
.analy-right .analy-li{
	font-size: 22px;
	color: #414141;
	margin-bottom: 15px;
}


























































